@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Playfair+Display:wght@400;700&family=Raleway:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333333;
    width: 100%;
    max-width: 1200px; /* Esto limitará el ancho máximo del contenido de tu página a 1000px */
    margin: 0 auto; /* Esto centrará el contenido de tu página horizontalmente */
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.full-height-section {
    height: 100vh;
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
}

h1, h3 {
    color: #2F4F4F;
}

h2 {
    color: #000;
    text-align: left;
    margin: 20px auto;
    max-width: 1200px;
    font-size: 32px;
}

header {
    background-color: #fff;
    color: #000;
    padding: 10px;
}

header nav {
    display: flex; 
    justify-content: space-between;
    width: 100%;
    margin: 0;
}

header .logo {
    font-size: 24px; 
    font-weight: bold; 
    margin: 10px 0px; 
    order: 1;
    display: flex;
}

header .menu {
    order: 2; 
    display: flex;
    align-items: center;
}

header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

header ul li a {
    color: #000;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background 0.3s;
}

header ul li a.menu-button {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
}

header ul li a:hover {
    background-color: #555;
}

.welcome-section {
    background-image: url('../img/vivivero-ganesha-1.webp');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    color: #2A9D8F;
    text-align: center;
    padding: 150px 10px;
    margin: 10px;
}

.welcome-content {
    max-width: 100%;
    margin: 0 auto;
}

.welcome-content h1 {
    font-size: 48px;
    margin-bottom: 150px;
}

.welcome-content button, .button {
    background-color: #2F4F4F;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    transition: background 0.3s;
}

.welcome-content button:hover, .button:hover {
    background-color: #333;
}

.product-grid {
    display: flex; /* Esto permitirá que los elementos se muestren en línea */
    flex-wrap: wrap; /* Esto permitirá que los elementos se envuelvan en nuevas líneas */
    gap: 20px;
    max-width: 1200px;
    margin: 20px auto;
    justify-content: center;
}

.product-item {
    flex: 0 0 calc(100% / 3 - 20px);
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
    height: 100%;
}

.product-item img {
    width: 100%;
    height: 70%; /* Ajusta este valor para cambiar la altura de la imagen */
    order: -1;
}

.product-item h3, .product-item p {
    order: 1;
    text-align: left; /* Alinea el texto a la izquierda */
}

.product-item h3 {
    margin-bottom: 10px; /* Reduce el espacio debajo del h3 */
}

.product-item p {
    margin-top: 0; /* Reduce el espacio encima del p */
}


footer {
    background-color: #f8f8f8;
    padding: 20px;
    border-top: 1px solid #e7e7e7;
}

.footer-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
    gap: 20px;
    width: 100%;
}

.footer-title {
    grid-column: 1; /* Esto colocará el título en la primera columna */
    grid-row: 1; /* Esto colocará el título en la primera fila */
    text-align: center; /* Esto centrará el título horizontalmente */
    margin: 0 auto; /* Esto centrará el título en su contenedor */
}

.footer-columns {
    display: flex;
    justify-content: space-around;
    grid-column: 2;
    grid-row: 1 / span 2;
}

.footer-column {
    flex: 1;
    margin: 0 100px;
}

.footer-column h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column ul li {
    margin-bottom: 8px;
}

.footer-column ul li a {
    color: #000;
    text-decoration: none;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

.social-icons {
    display: flex;
    gap: 0px;
    grid-column: 1;
    grid-row: 2;
    justify-content: center; /* Esto centrará los iconos horizontalmente */
    gap: 15px; /* Esto añadirá un espacio entre los iconos */
}

.social-icons a {
    grid-column: 1; /* Esto colocará los iconos sociales en la primera columna */
    grid-row: 2; /* Esto colocará los iconos sociales en la segunda fila */
}

.social-icons img {
    width: 24px;
    height: 24px;
}

@media only screen and (min-width: 360px) and (max-width: 429px) {
    h2 {
        font-size: 20px;
    }

    header nav, .product-section {
        flex-direction: column;
    }

    header .logo, header .menu {
        display: flex;
        justify-content: center; /* Centra horizontalmente */
        align-items: center; /* Centra verticalmente */
    }

    header .logo {
        order: -1; /* Esto moverá el logo al principio */
    }

    header .menu {
        order: 1; /* Esto moverá el menú al final */
        display: flex;
        justify-content: center; /* Centra horizontalmente */
        align-items: center; /* Centra verticalmente */
    }

    header ul li a.about-button {
        font-size: 12px;
    }

    header ul li a.menu-button {
        font-size: 12px;
        padding: 8px 12px;
    }

    .welcome-section {
        margin: 20px;
        padding: 50px 20px;
    }

    #products {
        margin-left: 20px; /* Ajusta este valor a tus necesidades */
        margin-right: 20px; /* Ajusta este valor a tus necesidades */
    }

    .product-grid {
        display: flex; /* Esto permitirá que los elementos se muestren en línea */
        flex-wrap: nowrap; /* Esto permitirá que los elementos se envuelvan en nuevas líneas */
        overflow-x: auto; /* Esto permitirá el desplazamiento horizontal */
        gap: 16px;
        max-width: 100%;
        justify-content: flex-start; /* Alinea los elementos al inicio */
    }

    .product-item {
        flex: 0 0 30%; /* Esto asegura que cada elemento ocupe un 30% del espacio disponible */
        box-sizing: border-box;
        padding: 10px;
        background-color: #f8f8f8;
        border: 1px solid #ddd;
        border-radius: 4px;
        text-align: center;
        height: 100%;
    }

    .product-item h3 {
        font-size: 0.8em; /* Ajusta este valor a tus necesidades */
    }

    .product-item p {
        font-size: 0.6em; /* Ajusta este valor a tus necesidades */
    }
    
    .footer-title, .social-icons {
        display: block;
        text-align: center; /* Esto centrará el texto horizontalmente */
    }

    .social-icons img {
        width: 16px; /* Esto mantendrá el tamaño original de los iconos */
        height: 16px; /* Esto mantendrá el tamaño original de los iconos */
    }

    .footer-column {
        margin: 0 10px; /* Ajusta este valor a tus necesidades */
    }

    .footer-column h3 {
        font-size: 16px; /* Ajusta este valor a tus necesidades */
    }
    
    .footer-column ul li a {
        font-size: 0.50em; /* Esto hará que el tamaño de fuente sea el 75% del tamaño de fuente de h3 */
    }
}

@media only screen and (min-width: 430px) and (max-width: 768px) {
    h2 {
        font-size: 20px;
    }

    header ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        gap: 0px; /* Reduce el espacio entre los botones */
    }

    header nav, .product-section {
        flex-direction: column;
    }

    header .logo, header .menu {
        display: flex;
        justify-content: center; /* Centra horizontalmente */
        align-items: center; /* Centra verticalmente */
    }

    header .logo {
        order: -1; /* Esto moverá el logo al principio */
    }

    header .menu {
        order: 1; /* Esto moverá el menú al final */
    }

    .welcome-section {
        margin: 20px;
        padding: 50px 20px;
    }

    #products {
        margin-left: 20px; /* Ajusta este valor a tus necesidades */
        margin-right: 20px; /* Ajusta este valor a tus necesidades */
    }

    .product-grid {
        display: flex; /* Esto permitirá que los elementos se muestren en línea */
        flex-wrap: nowrap; /* Esto permitirá que los elementos se envuelvan en nuevas líneas */
        overflow-x: auto; /* Esto permitirá el desplazamiento horizontal */
        gap: 20px;
        max-width: 100%;
        justify-content: flex-start; /* Alinea los elementos al inicio */
    }

    .product-item {
        flex: 0 0 30%; /* Esto asegura que cada elemento ocupe un 30% del espacio disponible */
        box-sizing: border-box;
        padding: 10px;
        background-color: #f8f8f8;
        border: 1px solid #ddd;
        border-radius: 4px;
        text-align: center;
        height: 100%;
    }

    .product-item h3 {
        font-size: 0.8em; /* Ajusta este valor a tus necesidades */
    }

    .product-item p {
        font-size: 0.6em; /* Ajusta este valor a tus necesidades */
    }
    
    .footer-title, .social-icons {
        display: block;
        text-align: center; /* Esto centrará el texto horizontalmente */
    }

    .social-icons img {
        width: 16px; /* Esto mantendrá el tamaño original de los iconos */
        height: 16px; /* Esto mantendrá el tamaño original de los iconos */
    }

    .footer-column {
        margin: 0 10px; /* Ajusta este valor a tus necesidades */
    }

    .footer-column h3 {
        font-size: 16px; /* Ajusta este valor a tus necesidades */
    }
    
    .footer-column ul li a {
        font-size: 0.50em; /* Esto hará que el tamaño de fuente sea el 75% del tamaño de fuente de h3 */
    }
}